<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Bus Reservation System</title>
<link rel="stylesheet" 
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
    .navbar {
        background-color: cadetblue;
    }
    .anchor{
    margin: 6px;
    background-color: #d9edf7;
    border-color: #d9edf7;
    }
    
    input, label {
    display:block;
}
   
</style>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
       
            <div class="navbar-header">
                            <h1>Bus Reservation Dashboard</h1>
                            <div class="container">
                            <div class="row">
                            <div class="col-md-3">
                           <h4> Hi, Welcome <span th:text ="*{userDetails}"></span> </h4></div>      
                             <div class="col-md-3">
                           <a th:href="@{/adminScreen}" class="btn anchor" > <i class="fa fa-arrow-circle-o-left"></i>Dashboard</a>
                           </div>
                           <div class="col-md-3" style= "margin-left: 124px;">
                           <a th:href="@{/logout}" class="btn anchor" > <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Logout</a>
                           </div>
          </div>      
           </div> 
            </div>
        </div>
    </nav>

    <br><br><br><br><br><br><br>
    <!-- Create HTML registration form -->
    <div class="container">
      <div th:if="${param.success}">
                  <div class="alert alert-info">Record deleted successfully.</div>
                </div>
        <div class="row">

                

                <form th:action="@{/adminScreen/allRecords}" method="post" th:object="${data}">
                
                
                <div class ="container">
                
                <div th:if= "${data != null}">
                
                <table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
					
							From
					</th>
					<th>
					
							To
					</th>
					<th>
					
							Time
					</th>
					<th>
					
							BusName
					</th>
					<th>
					
							Price
					</th>
					<th> Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bus : ${data}">
				<td th:text="${bus.fromDestination}"></td>
					<td th:text="${bus.toDestination}"></td>
					<td th:text="${bus.time}"></td>
					<td th:text="${bus.BusName}"></td>
					<td th:text="${bus.price}"></td>
					<td> <a th:href="@{/adminScreen/delete/{id}(id=${bus.id})}" class="btn btn-primary">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
                </div>
                
                </div>
                </form>
        </div>
    </div>
    
</body>
</html>